/* buttons moeten a'tjes worden */

body {
    background-color: #e6e6e9;
    border: 0;
    font-family: 'NSsans', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-align: -webkit-center;
    width: 100%;
}

.backgr {
    background-image: url(images/girlov44.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

@font-face {
    font-family: 'NSsans', 'NSsansbold' ;
    src: url('fed/assets/fonts/nssans.ttf'), url('fed/assets/fonts/nssansbol.ttf');
}

main {
    padding: 1rem;
    text-align: left;
    padding-top: 6rem;
  }

header {
    background-color: #fff;
    text-align: center;
    width: 100%;
    position: fixed;
    border-bottom: solid 2px #ccc;
}

.header {
    height: 20px;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

li {
    display: inline;
    text-decoration: none;
    padding: 1em;
}

li:first-of-type {
    margin-right: auto;
}

li:last-of-type {
    margin-left: auto;
}

h1 {
    color: #003082;
    margin: 0;
    display: inline-block;
}

h2 {
  color: #003082;
  margin-top: 2rem;
}

h3 {
  color: #003082;
}


p {
    color: #7D7D83;
    font-size: 1rem;
}

a {
    color: #307cc0;
    text-decoration: none;
}

a[href="login.html"] {
    color: #fff;
    display: block;
}

a[href="register.html"] {
    color: #fff;
    display: block;
    margin-top: 1rem;
}

a[href="#korter"],
a[href="#langer"] {
    display: block;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

button {
    background-color: #307cc0;
    border: none;
    border-bottom: solid 2px #00008B;
    color: #fff;
    font-size: 1em;
    margin-top: 1em;
    padding: 1em;
    text-align: center;
    max-width: 10rem;
    width: 100%;
}

.button {
    border: none;
    border-bottom: solid 2px #00008B;
    display: block;
    margin-top: 50%;
    padding: 1em;
    text-align: center;
}

.nietIngelogd, .ingelogd {
    background: rgba(0, 48, 131, 0.9);
    display: grid;
    grid-column: span 1;
    grid-template-columns: 1fr;
    margin-bottom: 7rem;
    max-width: 27rem;
    padding: 1rem;
}

.nietIngelogd > ul, .ingelogd > ul {
    display: inline;
}

.nietIngelogd > ul > li, .ingelogd > ul > li {
    display: block;
}

section > h3 {
    color: #fff;
    font-size: 20px;
    margin: 0 0 1em 0;
}

/*            VERHALENPLANNER         */

.more {
    background-color: rgba(153, 134, 117, 0.3);
    color: #003083;
    display: inline-block;
    border: none;
    border-bottom: solid 2px #003083;
}

.less {
    background-color: rgba(153, 134, 117, 0.3);
    color: #003083;
    display: none;
    float: left;
}

a[href="result.html#result"], a[href="result.html#random"] {
    float: right;
    margin-left: 1rem;
}

form {
    background-color: rgb(255, 202, 0, 0.8);
    grid-column: span 2;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 1rem;
}

fieldset {
    border: none;
    padding-bottom: 1rem;
}

.seeMeNot {
  display: none;
}

.seeMe{
  display: block;
}

legend {
    color: #003083;
    font-size: 2em;
    padding-top: 1em;
}

label {
    color: #003083;
    display: inline-block;
    margin-top: 1em;
    margin-right: 1em;
}

input {
    border-color: lightgrey;
    display: block;
    line-height: 2em;
    padding: 1em;
}

input[type="text"] {
    width: 21.3rem;
    margin: 0px;
}

div {
    display: block;
}

/*        IPAD        */

@media screen and (min-width: 48em) {

    main {
        margin-left: 2em;
        margin-right: 2em;
    }

    nav > ul {
        padding-left: 2em;
        padding-right: 2em;
    }

    section {
        display: grid;
        grid-column: span 2;
        grid-template-columns: repeat(2, 1fr);
    }

    .ingelogd, .nietIngelogd {
      margin-bottom: 2rem;
    }

    main > div {
        float: none;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0;
        grid-gap: 1rem;
    }

    /* main > div section {
        display: block;
        grid-column: span 2;
    } */

    a[href="result.html"] {
        background-color: #307cc0;
        color: #fff;
        display: inline;
        padding: 1em;
        text-align: center;
        text-decoration: none;
    }

    /* .verras {
        background-color: #307cc0;
        color: #fff;
        display: inline-block;
        margin: 1em;
        padding: inherit;
        text-decoration: none;
    } */

    input {
        border-color: lightgrey;
        display: inline-block;
        line-height: 2em;
        padding: 1em;
        font-size: 1em;
    }
}


/*        WEB + IPAD LANDSCAPE        */

@media screen and (min-width: 60em) {

    main {
        margin-left: 3em;
        margin-right: 3em;
    }

    nav > ul {
        padding: 0 3em;
    }

    a[href="result.html"] {
        background-color: #307cc0;
        color: #fff;
        display: inline-block;
        margin: 1em;
        padding: 1em;
        text-decoration: none;
    }

    form {
        grid-column: span 3;
    }

    legend {
        color: #003083;
        font: sans-serif;
        font-size: 2em;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    label {
        color: #003083;
        display: inline-block;
        margin-left: 1em;
    }

    input[type="text"] {
        width: 16.6rem;
    }
}


/*        WEB:     */


@media screen and (min-width: 75em) {

    form {
        grid-column: span 2;
        grid-template-columns: repeat(3, fr);
    }

    .verhalenweb {
        background-image: url(images/perron4.jpg);
        display: block;
    }

    .verhalenweb > h3 {
        color: #fff;
    }

    .verhalenweb > a[href="result.html"] {
        float: bottom;
    }

    .verhalen {
        display: none;
    }
}



/*                ARTICLES             */

section {
    display: grid;
    grid-template-columns: 1fr;
}

article {
    background-color: #fff;
    font-size: 1rem;
    grid-column: span 1;
    grid-template-columns: 1fr;
    margin-bottom: 1em;
    padding: 1em;
}

.verhalen {
    background-image: url(images/perron4kopie.jpg);
    background-position: center;
    color: #fff;
}

.verhalen > h3 {
    color: #fff;
}

.verhalenweb {
    display: none;
}

article > a {
    background-color: #307cc0;
    color: #fff;
    display: inline-block;
    padding: inherit;
    text-decoration: none;
}


/*        ipad:         */

@media screen and (min-width: 48em) {
    section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;
    }
    section > h2 {
        grid-column: span 2;
    }
    .nietIngelogd, .ingelogd {
        /* display: inline-block; */
        grid-column: span 1;
    }
    article {
        display: block;
        grid-column: span 1;
        grid-template-columns: repeat(2, 1fr);
    }

    .top3 > article:last-of-type {
        grid-column: span 2;
    }
}


/*        desktop:     */

@media (min-width: 60em) {
    section {
        grid-template-columns: repeat(3, 1fr);
    }

    section > p,
    section > h2 {
        grid-column: span 3;
    }

    header,
    footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-column: span 3;
    }

    article {
        grid-column: span 1;
        grid-template-columns: repeat(3, 1fr);
    }

    article > a {
        background-color: #307cc0;
        color: #fff;
        display: inline-block;
        padding: inherit;
        text-decoration: none;
    }

    .top3 > article:last-of-type {
        grid-column: span 1;
    }

    section#result > article {
        grid-column-start: 1;
        margin-bottom: 1rem;
    }

    .verhalen {
        grid-column: span 2;
    }

    section#random > article {
        padding-bottom: 2.1rem;
        margin-top: 3.4rem;
    }

    main > div {
        float: none;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0;
        grid-gap: 1rem;
    }

    main > div section {
        display: block;
        grid-column: span 1;
    }
}

@media (min-width: 75em) {
    .verhalenweb {
        display: block;
        margin: 0;
    }

    .verhalen {
        grid-column: span 1;
    }
}

.uno {
    background-image: url(images/zen1.png);
    background-size: contain;
    background-position: absolute;
}

.duo {
    background-image: url(images/mysterieus4.jpg);
    background-size: contain;
    background-position: absolute;
}

.trio {
    background-image: url(images/misleidend4.jpg);
    background-size: contain;
    background-position: absolute;
}

#random > article {
    background-image: url(images/zen2.png);
    background-size: contain;
}

main > h1 {
    margin-bottom: 1em;
}
